.full-item-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.full-item > div {
  position: relative;
  width: 500rem;
  padding: 40rem 30rem;
  background: #fff;
  border-radius: 9rem;
  box-shadow: 0 10rem 30rem rgba(0, 0, 0, 0.3);
  max-height: 90vh;
  overflow-y: auto;
}
